.navbar{
    display: flex;
    justify-content: center;
    background-color: #1F7D53;
    color: white;
    transition: 0.5s all ease;
    position: sticky;
    top: 0;

&.active{
    background-color: white;
    color: black;
}

    .container{
        width: 1400px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{

            }
        }
        .links{
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
            button {
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                cursor: pointer;
                background-color: transparent;

                &:hover{
                    background-color: white;
                    border-color: white;
                    color: #1F7D53;
                }
            }
        }
    }
}