.myPlants{
    display: flex;
    justify-content: center;

    .container{
        display: flex;
        flex-direction: column;
        width: 1400px;
        padding: 35px 0px;
        gap: 15px;


        p{
            color: #747474;
            font-weight: 350;
        }

        .sort{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left{
                align-items: center;
                display: flex;
                gap: 10px; 
                color: #747474;
                font-weight: 350;

                input{
                    padding: 5px;
                    border: 1px solid lightgray;
                    outline: none;
                    
                    &::placeholder{
                        color: gray;
                    }
                }

                button{
                    background-color: #41644A;
                    color: white;
                    font-weight: 500;
                    border: none;
                    cursor: pointer;
                    padding: 5px 10px;
                    border-radius: 5px;
                    transition: all 0.3s ease;
                }
            }
            button:hover{
                background-color: #2f3e32;
            }

            .right{
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;

                .sortBy{
                    color: #747474;
                    font-weight: 350;
                }

                .sortType{
                    font-weight: 500;
                }

                img{
                    width: 15px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .rightMenu{
                    padding: 20px;
                    background-color: white;
                    border-radius: 5px;
                    position: absolute;
                    top: 30px;
                    right: 0;
                    border: .5px solid lightgray;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    color: #747474;

                    span{
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }
                }   
            }
        }

        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}